:root{
    --colorOne:#D5ecf4;
    --colorTwo:#e5efd9;
    --colorThree: #fcf8c0;
    --colorFour:#ebebeb;
    --colorFive:#f4c5c3;
    --colorSix:#e5efd8;
    --colorSeven:#fcf8c0;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

span, li {
    font-size: 12px;
}
.threeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

.header{
    margin-top: 50px;
    margin-bottom: 200px;
}

.header h1{
    font-size: 50px;
    margin-top: 0;
}


.header .header__column {
    display:flex;
    justify-content: space-around;
}

.header__nav span {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    color: rgba(0, 0, 0, 0.4);
}

.header__nav li{
    margin-bottom: 10px;
}

.header__nav li:last-child {
    margin-bottom: 0px;    
}

.grid{
    grid-auto-rows: 30vh;
    grid-gap: 12px;
}

.grid .grid__item {
    background-size: cover;
    background-position: center center;
    
}

.grid .grid__item:first-child {
    grid-row: span 2;
    background-color:var(--colorOne);
}

.grid .grid__item:nth-child(2) {
    grid-area: span 2 / span 2;
    background-image: url("https://cdn.pixabay.com/photo/2015/02/26/15/41/ginger-cat-650545_960_720.jpg");
    
}
.grid .grid__item:nth-child(3) {
    background-color:var(--colorTwo);
}

.grid .grid__item:nth-child(4) {
    grid-row: span 2;
    background-image: url("https://i.pinimg.com/564x/1b/e9/29/1be929ae3df7b2736a32b96a71b8152d.jpg");
}

.grid .grid__item:nth-child(5) {
    background-color:var(--colorThree);
}

.grid .grid__item:nth-child(6) {
    background-color:var(--colorFour);
}

.grid .grid__item:nth-child(7) {
    background-image: url("https://i.pinimg.com/564x/c5/88/94/c58894cac4e0cf01fb9ff8f12f0e1daf.jpg");
}

.grid .grid__item:nth-child(8) {
    grid-area: span 2 / span 2;
    background-color:var(--colorFive);
}

.grid .grid__item:nth-child(9) {
    grid-row: span 2;
    background-image:url("https://i.pinimg.com/564x/45/d1/a8/45d1a816ab02c15c4cce1499b86b7c49.jpg?b=t");
}

.grid .grid__item:nth-child(10) {
    grid-area: span 2 / span 2;
    background-image:url("https://cdn.pixabay.com/photo/2018/03/13/21/45/desk-3223810_960_720.jpg");
}

.grid .grid__item:nth-child(11) {
    background-image:url("https://i.pinimg.com/564x/b9/5d/e5/b95de5b030b478e04668337430ac020f.jpg?b=t");
}

.grid .grid__item:nth-child(12) {
    background-image:url("https://i.pinimg.com/564x/0f/a0/3c/0fa03c12b1617d2502c7f62feb6936de.jpg");
}

.grid .grid__item:nth-child(13) {
    grid-area: span 2 / span 2;
    background-color:var(--colorSix);
}

.grid .grid__item:nth-child(14) {
    background-image:url("https://i.pinimg.com/564x/4a/76/c1/4a76c1a4bb1ad19e1f686492a8cad101.jpg");
}

.grid .grid__item:last-child {
    background-color:var(--colorSeven);
}